<!-- created on Mon Dec 10 11:20:18 2018 from TQSampleFolder 'histograms' with TQLibrary Unversioned directory compiled with GCC 8.2.1 against ROOT 6.15/01 -->
<table style="border-collapse: collapse">
<tr><th style="text-align:right; "></th> <th title="Signal" style="text-align:right;  border-left: 1px black solid;  padding-left:5px; padding-right: 5px; padding-top:0px; padding-bottom:0px; white-space: nowrap; ">Signal</th> <th title="Background" style="text-align:right;  padding-left:5px; padding-right: 5px; padding-top:0px; padding-bottom:0px; white-space: nowrap; ">Background</th> </tr>
<tr><td title="CR" style="text-align:right;  border-top: 1px black solid;  padding-left:5px; padding-right: 5px; padding-top:0px; padding-bottom:0px; white-space: nowrap; ">CR</td> <td title="  1.000000 +/-   0.000100 (stat) [raw:          0]" style="text-align:right;  border-top: 1px black solid;  border-left: 1px black solid;  padding-left:5px; padding-right: 5px; padding-top:0px; padding-bottom:0px; white-space: nowrap; ">1.00 &plusmn; 0.00</td> <td title="1000.000000 +/-   1.000000 (stat) [raw:          0]" style="text-align:right;  border-top: 1px black solid;  padding-left:5px; padding-right: 5px; padding-top:0px; padding-bottom:0px; white-space: nowrap; ">1000.00 &plusmn; 1.00</td> </tr>
<tr><td title="SR" style="text-align:right;  padding-left:5px; padding-right: 5px; padding-top:0px; padding-bottom:0px; white-space: nowrap; ">SR</td> <td title=" 50.000000 +/-   0.707107 (stat) [raw:       5000]" style="text-align:right;  border-left: 1px black solid;  padding-left:5px; padding-right: 5px; padding-top:0px; padding-bottom:0px; white-space: nowrap; ">50.00 &plusmn; 0.71</td> <td title="500.000000 +/-   7.071068 (stat) [raw:       5000]" style="text-align:right;  padding-left:5px; padding-right: 5px; padding-top:0px; padding-bottom:0px; white-space: nowrap; ">500.00 &plusmn; 7.07</td> </tr>
</table>
